h1{
  color: blue;
  text-align: center;

}
h2{
  color: blue;
  text-align: center;
  border-top: 4px double aqua; 
  background-color: #efe;     
  color: aqua;                
	
}
body{
  background-color: burlywood;
}
 img {
	position: absolute;
	right: 18px;
}


