h2{
  color: gren;
  text-align: center;
  border-top: 4px solid #7c7; /* mid green */
  background-color: #efe;     /* pale green */
  color: #050;                /* dark green */
	
}
 photo {
	float: right;
	margin-right: 20%;
	text-align: center;
}
