h1{
  color: blue;
  text-align: center;
  font-size: 5em;
  background: grey;

}
h2{
  font-size: 2em;
  color: blue;
  text-align: center;
  border-top: 6px double blue ; 
  background-color: gray;     
  color: blue;                
	
}
body{
  background-color: whitesmoke;
}
 img {
  position: absolute;
  right: 18px;
  border: double blue 10px;
}
